@charset "utf-8";

header{
position:relative;
}
.title {
background-color:rgba(74, 117, 208, 0.85);
width:200px;
margin-top:0px;
}
.title-bg {
	width:1333px;
	height:300px;
	background:url(Res/vlcsnap-2017-05-29-17h53m02s337.png);
	background-repeat: no-repeat;
	background-position: fixed;
	background-size:100%;
	background-position-y:-50px;
}
#title-txt {
	padding-top:100px;
}
#main {
	width:1333px;
	background-color:#ddd;
	height:500px;
}
#sidebar {
	width:200px;
	float:left;
	margin-left: 100px;
	background-color:gray;
}
#pn_l {
	height:200px;
	padding-top:20px;
}
#pn_l ul{
	padding-left:-10px;
}
#pn_l ul li {
    border: solid;
    border-bottom-color: green;
    display: block;
    margin-left: -30px;
    text-decoration: none;
    background-color: rgba(224, 215, 203, 0.88);
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-right-radius: 10px;
}
#pn_l ul li a {
    text-decoration: none;
}
#content {
	width:70%;
	padding:10px;
	margin-top:-20px;
	background-color:rgba(255, 255, 215, 0.8);
	position:relative;
	float:left;
}
#box {
	margin-top:10px;
}
#box-title {
background-color: rgba(255, 255, 215, 0.8);
}
#box-content{
	visibility: 1;
}
#box-content a {
	background-color:blue;
	padding:2px;
	color:white;
	border-radius:5px;
}
footer {
	width:1333px;
}
#foottext {
	text-align:center;
	padding-top:40px;
	margin-bottom:0px;
	color:red;
}
