::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
html {
    overflow: scroll;
    overflow-x: hidden;
}
.progress {
    position: absolute;
    margin: 0;
}
.page-logo{
  margin: auto;
}
#foottext{
  text-align: center;
}
