@media screen and (max-width: 711px) {
	#header {
    margin-top: 70px;
	}
    body {
        width: 711px;
	  
    }
	.card-panel{
		padding: 20px;
	}
	#templatemo_menu_section ul li a {
    padding-bottom: 18px;
}
	#templatemo_menu_section ul li a {
    padding-top: 18px;
    font-size: 20px;
	}
	.templatemo_left_section_box_top {
    font-size: 30px;
}
    #templatemo_menu_section .visimenu{
      display: none;
    }
    #templatemo_menu_section .modal-trigger{
      display: block !important;
      float:right;
    }
.templatemo_container {
    width: 95%;
    margin: auto;
}
}
body {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
		backgroud:#fcfcfc;
}
#templatemo_background_section_top {
    width: 100%;
    height: 157px;
    background: none;
    display: none;
}
#templatemo_content_area {
    margin: -50px 0 0 0;
    border-radius: 10px;
}
.templatemo_container {
    width: 80%;
    margin: auto;
}
.templatemo_left_section_box_top {
    background: none;
		height: auto;
    width:100%;
    font-size: 22px;
}
.templatemo_left_section_box_body {
    width:100%;
}
.templatemo_left_section_box_body p {
    text-align: justify;
    color: #333;
    font-size: 15px;
    margin: 0 0 10px 0;
}

#templatemo_middle_section{
  display: none;
}
#templatemo_logo_section {
    background: none;
    width:auto;
		padding: 0px;
}
#templatemo_logo_section h1 {
    text-shadow: 0px 0px 5px #ffffff;
    color: #3c3c3c;
    font-size: 28px;
}
#templatemo_logo_section h2 {
    text-shadow: 0px 0px 5px #ffffff;
    color: #3c3c3c;
    font-size: 18px;
}
#templatemo_background_section_mid {
    background: none;
}

#templatemo_menu_section {
    height: auto;
    width: 100%;
		background: #ee6e73;
}
#templatemo_menu_section ul {
		width:100%;
}
#templatemo_menu_section ul li a{
		height : auto;
    padding-bottom: 8px;
    width: auto;
    font-weight: normal;
}
#templatemo_menu_section li a:hover {
    height: auto;
    background: rgba(0, 0, 0, 0.2);
}
#templatemo_menu_section .modal-trigger{
  display: none;
}
.templatemo_right_section_box  {
  width: 100%;
	}
.templatemo_right_section_box h1 {
    color: black;
    font-size: 15px;
    text-decoration: none;
	}
	.templatemo_middle_section_box h1 {
	    color: black;
	    font-size: 15px;
	    text-decoration: none;
		}
		.parallax-container {
    position: relative;
    overflow: hidden;
    height: 340px;
}
.parallax img{
	filter: blur(5px);
}
#header{
  margin-top: 50px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
span.post {
    margin: 0 25px 0 0;
    color: #c60;
    font-size: 14px;
}
.modal-content li {
  list-style: none;
  display: block;
}
.modal-content li a {
  width: 100%;
}
