body {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;

}
#templatemo_background_section_top {
    width: 100%;
    height: 157px;
    background: none;
}
.templatemo_left_section_box_top {
    background: none;
		height: auto;
    font-size: 22px;
}
#templatemo_logo_section {
    background: none;
}
a{
	color: white;
}
#templatemo_menu_section {
    height: auto;
}
#templatemo_menu_section ul li a {
		height : auto;
		margin-left: 5px;
}
#templatemo_menu_section li a:hover {
    color: #fff;
    height: auto;
    background: none;
}
span.post {
    margin: 0 25px 0 0;
    color: #c60;
    font-size: 14px;
}
